<button class="btn btn--outline btn--block btn--primary">Buy Now</button>
    
<button class="btn btn--block btn--primary">Buy Now</button>

<a class="btn btn--block btn--secondary">Buy Now</a>

<button class="btn btn--secondary">Get Started</button>
<button class="btn btn--accent">Buy Now</button>
<button class="btn btn--primary">Buy Now</button>

<div class="input-group">
    <input type="text" name="" id="" class="input" placeholder="Enter domain name here...">
    <button class="btn btn--accent"> 
        <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>Search</button>

</div>
