<div class="callout callout--primary">
    <div class="grid grid__1x2">
        <div class="callout__content">
            <h2 class="callout__heading">Ready to Get Started?</h2>
            <p class="callout__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque
                molestias aut recusandae. Explicabo repellendus molestias accusamus hic at pariatur fugit.</p>
        </div>
        <div class="callout__btn">
            <a href="#" class="btn btn--secondary btn--streched">Get Started</a>
        </div>
    </div>

</div>