<div class="media">
    <div class="media__image">
        <span class="icon-container">
            <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#snap"></use>
              </svg>
        </span>
    </div>
    <div class="media__body">
        <h3 class="media__heading">Start Easy & Managed Updates</h3>
        <p class="media__text">Our cloud plans include easy onboarding for new and existing sites and managed WordPress and World Commerce auto-updates.</p>
    </div>
 </div>